{% include 'partials/header.html'%}

  <h1 class="heading">Simple Weather App</h1>
  <form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <input type="text" name="cityName" placeholder="Search for a city" autocomplete="off">
    <button class="btn btn-danger" type="submit" name="button">Submit</button>
  </form>

  {% if info %}
    {% for data in info %}
        <div class="note">
          <p>{{data.name}}<sup class="symbol">{{data.symbol}}</sup></p>
          <p class="temp">{{data.temp}}<sup class="celsuis">&#8451;</sup></p>
          <p><img src={{data.image}} alt="Weather Image"></p>
          <p>{{data.description}}</p>
        </div>
    {% endfor %}
  {% endif %}
  </body>
</html>